<head>
    <meta charset="UTF-8">
    <title>Upload XML</title>
</head>
<body>
<form action="" method="post" enctype="multipart/form-data">
    <h2 th:if="!${message.isEmpty()}" th:text="{message}">Message</h2>
    <h3>Select xml file to upload</h3>
    <p>
        <label for="chunkSize">Chunk size:</label>
        <input type="number" name="chunkSize" id="chunkSize" th:value="{chunkSize}"/><br/><br/>
        <input type="file" name="fileToUpload" id="fileToUpload"><br/>
    </p>
    <p>
        <input type="submit" value="Upload" name="submit">
    </p>
</form>
</body>
</html>